{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "rules": {
        "indent": ["error", 4],
        "react/jsx-indent": ["error", 4],
        "no-bitwise": 0,
        "no-alert": 0,
        "react/jsx-filename-extension": 0
    },
    "env": {
        "browser": true,
        "jest": true
    },
    "plugins": [
        "jest"
    ]
}
